@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');
/* Dark mode colors. */
:root {
    --sl-color-accent-low: #42100e;
    --sl-color-accent: #FF3636;
    --sl-color-accent-high: #f8b6ad;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #eeeeee;
    --sl-color-gray-2: #c2c2c2;
    --sl-color-gray-3: #8b8b8b;
    --sl-color-gray-4: #585858;
    --sl-color-gray-5: #383838;
    --sl-color-gray-6: #272727;
    --sl-color-black: #181818;
}

/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent-low: #fcc9c2;
    --sl-color-accent: #FF3636;
    --sl-color-accent-high: #610b0c;
    --sl-color-white: #181818;
    --sl-color-gray-1: #272727;
    --sl-color-gray-2: #383838;
    --sl-color-gray-3: #585858;
    --sl-color-gray-4: #8b8b8b;
    --sl-color-gray-5: #c2c2c2;
    --sl-color-gray-6: #eeeeee;
    --sl-color-gray-7: #f6f6f6;
    --sl-color-black: #ffffff;
}
body {
    font-family: 'Space Grotesk', sans-serif;
}
/* theme overrides */ 
a,
.icon,
button {
    border-radius: 0 !important;
}
.site-title {
    max-width: 120px;
}
header.dialog {
	background-color: #fff !important;
}
.pagefind-ui__search-input {
	border: 0 !important;
}
.full-table {
    width: 100% !important;
    table-layout:fixed;
}
.full-table thead,
.full-table tbody,
.full-table tr {
    width: 100% !important;   
}
.full-table td,
.full-table th {
    width: 100vw;
}
.full-table td:nth-child(2) {
    text-align: center;
}
